---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Faroe and Astro basic example</title>
	</head>
	<body>
		<h1>Forgot password?</h1>
		<form id="login-form">
			<label for="login-form.email">Email</label>
			<input type="email" id="login-form.email" name="email" /><br />
			<button>Continue</button>
			<p id="login-form.message"></p>
		</form>
		<a href="/login">Sign in</a>
	</body>
</html>

<script>
	const loginForm = document.getElementById("login-form") as HTMLFormElement;
	const loginFormMessageElement = document.getElementById("login-form.message") as HTMLParagraphElement;

	loginForm.addEventListener("submit", async (e) => {
		e.preventDefault();
		const formData = new FormData(e.target as HTMLFormElement);
		const email = formData.get("email");
		const body = JSON.stringify({
			email: email
		});
		const response = await fetch("/api/forgot-password", {
			method: "POST",
			body
		});
		if (response.ok) {
			window.location.href = "/verify-password-reset-email";
			return;
		}
		loginFormMessageElement.innerText = await response.text();
	});
</script>
